*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Encode Sana Expanded',sans-serif;
}
.me{

border-radius: 50px;
background: #01bf71;
white-space: nowrap;
padding: 16px 64px;
color: #010606;
font-size: 16px;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;

grid-template-columns:  1fr;
grid-template-rows: repeat(6 , 80px);
text-align: center;

@media screen and(max-width: 480px){ 
  grid-template-rows:repeat(6 , 60px);
}

}